@import 'var'
@import 'mixins'
@import 'interface'
@import 'normalize'
@import 'fonts'


@import 'header'
@import 'main'
@import 'feedback'
@import 'modal'

*, *:after, *:before
 box-sizing: border-box

html
 overflow-x: hidden
body
 overflow-x: hidden
 font-family: 'Museo Sans Light'
 color: $text-color

img
 max-width: 100%

.container
 width: 1171px
 margin: 0 auto
 
.bold
  font-weight: bold
@import 'media'
